<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  {% include header.html %}

  <body>
    <main class="page-content" aria-label="Content">
      <section class="wrapper center-layout">
        <h1 class="page-heading"><a href="{{ page.permalink }}">{{ page.title }}</a></h1>
        <p>{{ page.address }}<br>
        {{ page.city }}, {{ page.state }} {{ page.zip }}</p>
        <p>Phone: <a href="tel:{{ page.phone }}">{{ page.phone }}</a></p>
        {{content}}
      </section>
    </main>
  </body>

  {% include footer.html %}
</html>
